<div>
            <a class="nav-link" href="https://www.linkedin.com/in/ruth-sordi%C3%A1n-721a0a3b"><img src="../../../assets/images/LinkedIn-Icon.png"  alt="logo linkedIn" class="redes"></a>
            <a class="nav-link" href="https://github.com/ruthsordian?tab=repositories"><img src="../../../assets/images/Github-Icon.png" alt="logo github" class="redes"></a>
            <a class="nav-link" href="https://www.instagram.com/ruthy.sordian/"><img src="../../../assets/images/Instagram-Icon.png" alt="logo instagram" class="redes"></a>
</div>
