div{
    background-color: rgb(176, 208, 228) ;
}

app-redes{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

app-logo-ap{
    margin-left: 50px;
    margin-left: 5px;
}

app-banner{
    width:100%;
}